.HomeTop {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Cafe24Ohsquare";
  background-image: linear-gradient(#e4e00d, #fc19cb);
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
/*f0526c ffc435 */

/* ========================bubble======================== */
.bubble {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.404) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  box-shadow: inset 0 20px 30px rgba(227, 252, 237, 0.548),
    inset 1em 1em 1em rgba(255, 255, 255, 0.6);
}
.bubble:hover {
  display: none;
}

.b1 {
  animation: floatup 10s linear infinite,
    sideways 5s ease-in-out infinite alternate;
  left: 10%;
  top: 100%;
}
.b2 {
  animation: floatup 5s linear infinite,
    sideways 4s ease-in-out 1s infinite alternate;
  left: 15%;
  top: 30%;
  transform: scale(0.7);
}
.b3 {
  animation: floatup 4s linear infinite,
    sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  transform: scale(1.2);
}
.b4 {
  animation: floatup 6s linear infinite,
    sideways 5s ease-in-out 3s infinite alternate;
  left: 25%;
  top: 90%;
  transform: scale(0.5);
}
.b5 {
  animation: floatup 8s linear infinite,
    sideways 6s ease-in-out 3s infinite alternate;
  left: 30%;
  top: 30%;
  transform: scale(1.1);
}
.b6 {
  animation: floatup 7s linear infinite,
    sideways 4s ease-in-out 3.5s infinite alternate;
  left: 40%;
  top: 50%;
  transform: scale(0.7);
}
.b7 {
  animation: floatup 6s linear infinite,
    sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top: 90%;
  transform: scale(0.6);
}
@keyframes floatup {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: -50%;
  }
}
@keyframes sideways {
  0% {
    margin-left: 0em;
  }
  100% {
    margin-left: 20em;
  }
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ========================bubble======================== */

.typing-1,
.typing-3 {
  color: #fef6f5;
}

.typing-2 {
  color: #000a09;
}

.blog,
.Github,
.potfol {
  animation: smoothAppear 8s;
  animation-fill-mode: forwards;
}

.Link-area {
  width: 1000px;
  height: 50px;
}

.my-link {
  text-align: center;
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(253, 242, 243);
  text-shadow: 0 0 7px rgb(235, 46, 77), 0 0 10px #fff, 0 0 21px #fff;
}

.my-link > Button:hover {
  background-color: #ffa8f8;
  color: #000a09;
}

.my-link > Button {
  margin-right: 2vh;
  cursor: pointer;
  border: 0px solid gray;
  background-color: #a70075;
}

h2 {
  display: inline;
  font-size: 5vw;
}

@media (max-width: 1780px) {
  .HomeTop {
    width: 100%;
    height: 800px;
    background-color: #789;
    padding-top: 60px;
  }

  h2 {
    font-size: 5vw;
  }

  .Link-area {
    width: 100%;
    height: 50px;
  }

  .my-link {
    text-align: center;
    color: rgb(253, 242, 243);
    text-shadow: 0 0 7px rgb(235, 46, 77), 0 0 10px #fff, 0 0 21px #fff;
    font-weight: bold;
  }

  .blog,
  .Github {
    cursor: pointer;
  }
}
@media (max-width: 940px) {
  .HomeTop {
    width: 100%;
    height: 600px;
    background-color: #789;
    padding-top: 60px;
  }

  h2 {
    font-size: 8vw;
  }

  .Link-area {
    width: 100%;
    height: 50px;
  }

  .my-link {
    text-align: center;
    color: rgb(253, 242, 243);
    text-shadow: 0 0 7px rgb(235, 46, 77), 0 0 10px #fff, 0 0 21px #fff;
    font-weight: bold;
  }

  .blog,
  .Github {
    cursor: pointer;
  }
}
